@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaExtraBoldOblique.woff2") format("woff2"), url("../font/SFUFuturaExtraBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaBoldOblique.woff2") format("woff2"), url("../font/SFUFuturaBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaExtraBold.woff2") format("woff2"), url("../font/SFUFuturaExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaBold.woff2") format("woff2"), url("../font/SFUFuturaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaBook.woff2") format("woff2"), url("../font/SFUFuturaBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaBookOblique.woff2") format("woff2"), url("../font/SFUFuturaBookOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaLightOblique.woff2") format("woff2"), url("../font/SFUFuturaLightOblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url(".SFUFuturaHeavy.woff2") format("woff2"), url(".SFUFuturaHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFutura.woff2") format("woff2"), url("../font/SFUFutura.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaOblique.woff2") format("woff2"), url("../font/SFUFuturaOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaLight.woff2") format("woff2"), url("../font/SFUFuturaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFU Futura';
  src: url("../font/SFUFuturaHeavyOblique.woff2") format("woff2"), url("../font/SFUFuturaHeavyOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.root {
  z-index: 119;
  margin: 0 auto;
  top: calc(50% - 0.5*323px);
  left: calc(50% - 0.5*566px); }
  @media (max-width: 700px) {
    .root {
      width: 100%;
      left: 0%; } }
  @media (max-width: 700px) {
    .root .alert-submit img {
      width: 90%;
      left: 5%; } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

body {
  font-family: 'SFU Futura';
  margin: 0; }

.red {
  color: white;
  border: 2px solid red; }

a {
  text-decoration: none; }
  a:hover {
    color: none; }
  a:visited {
    color: black; }

.direction {
  z-index: 100;
  top: 70%;
  right: 3%; }
  .direction img {
    width: 48px;
    height: 48px; }

.title {
  text-transform: uppercase; }
  .title h2 {
    font-weight: 700 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 19px;
    color: #000000; }
    @media (min-width: 600px) {
      .title h2 {
        font-size: 40px; } }
  .title span {
    font-weight: 700 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 27px;
    color: #5E3A95; }
    @media (min-width: 600px) {
      .title span {
        font-size: 56px; } }

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 22px 0px; }
  .header-social {
    height: 40.83px;
    width: 424px; }
    .header-social img {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .header-contact a {
    text-decoration: none; }
  .header-contact-call {
    padding: 16px;
    box-sizing: border-box;
    width: 204px;
    height: 46px;
    background-color: #5E3A95;
    border-radius: 23px;
    display: flex;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: white; }

.menu {
  background-color: #5E3A95;
  z-index: 100;
  position: relative; }
  .menu li {
    text-transform: uppercase; }
    .menu li:hover {
      background-color: #3b245e; }
  .menu a {
    text-decoration: none;
    color: white; }
    @media only screen and (max-width: 992px) {
      .menu a {
        padding: 0 !important;
        margin: 16px 30px !important;
        font-size: 16px;
        color: black; } }
  .menu .navbar-collapse {
    margin: 0 !important; }
    @media only screen and (max-width: 992px) {
      .menu .navbar-collapse {
        background-color: #FFFFFF; } }
  .menu .input-group input {
    background-color: rgba(255, 255, 255, 0.5) !important; }
  .menu .input-group span {
    background-color: rgba(255, 255, 255, 0.5) !important; }
  .menu .input-group i {
    color: white !important; }

.seation {
  position: relative; }
  .seation button {
    cursor: pointer;
    font-family: 'SFU Futura';
    font-weight: 700;
    font-size: 20px;
    display: block;
    padding: 0.5rem 1rem;
    background-color: bisque;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%);
    margin-bottom: 5%; }
    @media (max-width: 500px) {
      .seation button {
        font-size: 10.2px; } }
  .seation img {
    width: 100%;
    height: 100%; }
  .seation-contact {
    position: fixed;
    z-index: 99;
    top: 40%;
    right: 3%; }
    .seation-contact img {
      display: block;
      width: 48px;
      height: 48px;
      margin-top: 24px; }
  .seation-form {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%); }
    .seation-form-title {
      text-align: center;
      color: white;
      margin-bottom: 20px; }
      .seation-form-title h2 {
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
        font-size: 40px; }
      .seation-form-title h3 {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 20px; }
      .seation-form-title h4 {
        font-weight: 700;
        color: #000000;
        margin: 10px auto;
        font-size: 15.2343px;
        background: #E2BF60;
        display: inline;
        padding: 8px 24.2px;
        clip-path: polygon(0% 0%, 100% 0%, 97% 50%, 100% 100%, 0% 100%, 3% 50%); }
      .seation-form-title span {
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        font-size: 20px; }
    .seation-form-input {
      width: 360px;
      margin: 0 auto; }
      .seation-form-input label {
        color: white;
        font-weight: 400;
        font-size: 13.3333px;
        margin-bottom: 4.1px;
        display: block; }
      .seation-form-input input[type=number]::-webkit-inner-spin-button,
      .seation-form-input input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; }
      .seation-form-input .input1 {
        font-weight: 400;
        font-size: 15px;
        margin-top: 4.1px;
        width: 100%;
        height: 15%;
        padding: 10px 16px;
        box-sizing: border-box; }
        .seation-form-input .input1:focus {
          outline: none; }
      .seation-form-input button {
        cursor: pointer;
        font-family: 'SFU Futura';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        display: block;
        margin: 20px auto;
        padding: 0.5rem 1rem;
        background-color: bisque;
        border: none;
        border-radius: 30px;
        background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%); }
      @media (max-width: 1336px) {
        .seation-form-input {
          width: 300px; } }
    @media (max-width: 1336px) {
      .seation-form h2 {
        font-size: 30px; }
      .seation-form h3 {
        font-size: 13px; }
      .seation-form h4 {
        font-size: 10px; }
      .seation-form span {
        font-size: 13px; }
      .seation-form label {
        font-size: 10px; }
      .seation-form button {
        font-size: 13px; } }

.slider .title {
  text-align: center;
  margin: 40px auto; }

.slider .up {
  transform: translateY(-15%); }
  @media (max-width: 600px) {
    .slider .up img {
      width: 15px;
      height: 23px; } }

.slider .content {
  font-size: 30px;
  background-color: #5E3A95;
  color: white;
  padding: 12px 20px; }
  .slider .content li {
    margin-left: 20px; }
  @media (max-width: 663px) {
    .slider .content {
      font-size: 20px; } }
  @media (max-width: 450px) {
    .slider .content {
      font-size: 13px; } }

.slider-indicator {
  margin-top: 20px;
  margin-bottom: 20px; }
  .slider-indicator button {
    position: static !important;
    margin-left: 20px;
    width: 15px !important;
    height: 15px !important;
    border: 2px solid #A351A3 !important;
    border-radius: 50%;
    cursor: pointer;
    background-color: white; }
    .slider-indicator button:hover {
      background-color: #5E3A95; }
  .slider-indicator .active {
    background-color: #5E3A95; }

.line {
  background-color: #A351A3;
  height: 15px;
  padding-bottom: 1px;
  margin-top: 0px; }

.content1 {
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2; }
  @media (max-width: 1263px) {
    .content1 {
      background-color: #FFFFFF; } }
  .content1-text {
    padding-left: 30px;
    padding-right: 30px;
    width: 600px; }
    .content1-text h3 {
      width: 90%;
      font-size: 15.2343px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 1px; }
    .content1-text .title {
      width: 518px; }
      .content1-text .title span {
        display: block;
        text-align: right; }
      @media (max-width: 600px) {
        .content1-text .title {
          width: 100%; } }
    @media (max-width: 600px) {
      .content1-text {
        width: 100%; }
        .content1-text h2 {
          font-size: 19px; }
        .content1-text h3 {
          font-size: 9px; }
        .content1-text span {
          margin-top: -15px;
          font-size: 40px;
          text-align: left !important;
          margin-left: 100px; } }
    .content1-text p {
      font-weight: 400;
      font-size: 15px;
      text-align: justify; }
  .content1 .content1-img {
    max-width: 615px; }
    .content1 .content1-img img {
      width: 100%; }

.content2 {
  background-color: #FFFFFF;
  width: 100%; }
  .content2 img {
    width: 100%; }
  .content2-background {
    background-image: url("/HamoGroup/DripFit/img/bgcontent2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .content2 .slider .mySlides-content2 {
    color: black;
    font-size: 13px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #FFFFFF; }
  .content2 .slider .carousel-inner img {
    margin: 0 auto; }
  .content2 .slider .carousel-inner button img {
    transform: translateY(-100%);
    width: 15px;
    height: 23px; }
  .content2 .slider .carousel-content2 {
    padding-left: 23px;
    padding-right: 23px; }
    .content2 .slider .carousel-content2 p {
      margin-bottom: 0;
      font-size: 13px; }
  .content2 .slider .title h2 {
    font-size: 23px; }
  .content2 .slider .title span {
    font-size: 30px; }

.content3 {
  text-align: center; }
  .content3 .title {
    margin: 0 auto;
    max-width: 892px; }
    @media (max-width: 768px) {
      .content3 .title {
        background-color: #5E3A95;
        width: 100%;
        text-align: left;
        padding: 27px; }
        .content3 .title h2 {
          color: white;
          font-size: 15px; }
        .content3 .title span {
          font-size: 20px;
          color: #FFF8C7; } }
  .content3-img1 {
    position: relative; }
    .content3-img1 button {
      position: absolute;
      cursor: pointer;
      font-family: 'SFU Futura';
      font-weight: 700;
      font-size: 16px;
      bottom: 12%;
      right: 26%;
      width: 14.27%;
      height: 15%;
      background-color: bisque;
      border: none;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%); }
      @media (max-width: 1600px) {
        .content3-img1 button {
          font-size: 13px; } }
      @media (max-width: 1336px) {
        .content3-img1 button {
          font-size: 10px; } }
      @media (max-width: 1024px) {
        .content3-img1 button {
          font-size: 8px; } }
      @media (max-width: 835px) {
        .content3-img1 button {
          font-size: 5px; } }
    .content3-img1 .img1 {
      margin-top: 48px; }
  .content3-img12 {
    position: relative;
    z-index: 1; }
    .content3-img12 button {
      padding: 1rem 3rem;
      cursor: pointer;
      font-family: 'SFU Futura';
      font-weight: 700;
      font-size: 20px;
      border: none;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%); }
      @media (max-width: 650px) {
        .content3-img12 button {
          font-size: 15px;
          padding: 1rem 2rem; } }
      @media (max-width: 500px) {
        .content3-img12 button {
          font-size: 8.74px;
          padding: 5px 1rem; } }
  .content3-img2 {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto; }
  .content3 .slider .carousel-item img {
    width: 70%;
    margin: 0 auto; }
  .content3 .slider .slider-button img {
    width: 15px;
    height: 23px; }
  .content3 .slider .slide3-img {
    width: 90%;
    z-index: -2;
    margin-top: -80px;
    margin-bottom: -160px;
    transform: translateX(-5%); }

.content4 {
  background-color: #F2F2F2;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 23px; }
  .content4 .title {
    margin-bottom: 23px; }
    @media (max-width: 992px) {
      .content4 .title {
        font-size: 19px; } }
  .content4 iframe {
    width: 906px;
    height: 530px; }
    @media (max-width: 992px) {
      .content4 iframe {
        width: 90%;
        height: 186px; } }

.content5 {
  background-color: #FFFFFF;
  padding: 30px; }
  @media (max-width: 1361px) {
    .content5 #cont51 {
      order: 2; }
    .content5 #cont52 {
      order: 1; } }
  .content5 .title span {
    letter-spacing: 0.705rem;
    font-size: 70px; }
  .content5 .title h3 {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    color: #5E3A95;
    margin-bottom: -20px; }
  @media (max-width: 600px) {
    .content5 .title h3 {
      font-size: 19px;
      margin-bottom: -10px; }
    .content5 .title span {
      letter-spacing: 0.4rem;
      font-size: 35.1357px; }
    .content5 .title h2 {
      font-size: 22px; } }
  .content5-text {
    max-width: 516px; }
    .content5-text-check {
      font-weight: 400;
      font-size: 16px;
      display: flex;
      gap: 18px;
      align-items: center; }
    @media (max-width: 768px) {
      .content5-text span {
        font-size: 13px; }
      .content5-text img {
        width: 37.55px;
        height: 36.3px; } }

.content6 {
  background-color: #F2F2F2;
  padding-left: 30px;
  padding-right: 30px; }
  .content6 .title {
    text-align: center; }
    @media (max-width: 850px) {
      .content6 .title h2 {
        font-size: 19px; }
      .content6 .title span {
        font-size: 20px;
        background-color: #A351A3;
        color: white; } }
  .content6 .slider .carousel-inner .slider-button {
    margin-top: 30%;
    width: 20px;
    height: 31px; }
  .content6 .slider .carousel-inner .title h2 {
    font-size: 30px; }
  .content6 .slider .carousel-inner .title p {
    height: 72px;
    text-transform: none;
    text-align: justify; }
  .content6 .slider .carousel-inner .title span {
    font-size: 16px;
    background-color: #A351A3;
    color: white; }
  .content6 .slider .carousel-inner .slider-indicator {
    bottom: 180px; }
  .content6 img {
    margin: 0 auto;
    width: 65%; }

.content7-title {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5E3A95;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap; }
  .content7-title-left {
    margin-right: 100px; }
    .content7-title-left h2 {
      font-size: 30px;
      font-weight: 700 !important;
      margin-top: 0px;
      margin-bottom: -20px; }
    .content7-title-left span {
      font-size: 70px;
      font-weight: 700 !important;
      letter-spacing: 0.2em; }
    @media (max-width: 600px) {
      .content7-title-left h2 {
        font-size: 12.8956px;
        font-weight: 700 !important;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-bottom: -10px; }
      .content7-title-left span {
        font-size: 30.0897px;
        font-weight: 700 !important;
        margin-top: 0px;
        margin-bottom: 0px;
        letter-spacing: 0.2em; } }
  .content7-title-right {
    max-width: 737px; }
    .content7-title-right h4 {
      margin-bottom: 1rem;
      font-size: 25px; }
      @media (max-width: 600px) {
        .content7-title-right h4 {
          font-size: 13px; } }

.content7-img img {
  width: 304.65px;
  height: 321.05px; }
  @media (max-width: 768px) {
    .content7-img img {
      width: 157.82px;
      height: 166.31px; } }

.content8 {
  margin: 0 auto;
  max-width: 1192px; }
  .content8-title1 {
    max-width: 386px; }
    .content8-title1 h2 {
      font-size: 51px;
      margin-bottom: -30px; }
    .content8-title1 span {
      font-size: 78px; }
    .content8-title1 h4 {
      font-weight: 400;
      font-size: 35px;
      text-align: justify;
      margin-top: 0;
      margin-bottom: 54px; }
  @media (max-width: 768px) {
    .content8-title2 {
      text-align: center; }
      .content8-title2 h2 {
        font-size: 39px;
        margin-bottom: 0px; }
      .content8-title2 span {
        font-size: 45px;
        letter-spacing: 0.5em;
        margin-bottom: 10px; }
      .content8-title2 h4 {
        font-size: 30px;
        margin-top: 10px; } }
  @media (max-width: 470px) {
    .content8-title2 {
      margin-top: -30px; }
      .content8-title2 h2 {
        font-size: 19px; }
      .content8-title2 span {
        font-size: 20px;
        letter-spacing: 0.5em; }
      .content8-title2 h4 {
        font-size: 13.982px;
        margin-bottom: 10px; } }
  .content8 .title button {
    cursor: pointer;
    font-family: 'SFU Futura';
    font-weight: 700;
    font-size: 20px;
    display: block;
    padding: 0.5rem 1rem;
    background-color: bisque;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%); }
  .content8-slide {
    width: 100%;
    max-width: 672px; }

.content9 {
  position: relative;
  margin-bottom: -4px; }
  .content9-form {
    max-width: 420px; }
    .content9-form-title {
      text-transform: uppercase;
      color: #FEF2B6; }
      .content9-form-title h2 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 25.8676px;
        margin-bottom: -8px; }
      .content9-form-title span {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 33.9417px; }
    .content9-form ul {
      font-weight: 700;
      font-size: 15.7087px;
      align-items: center;
      text-transform: uppercase;
      padding-left: 25px;
      color: #D498E9;
      margin-top: 9.3px;
      margin-bottom: 27px; }
    .content9-form label {
      color: white;
      font-weight: 400;
      font-size: 13.3333px;
      margin-bottom: 4.1px;
      display: block; }
    .content9-form input[type=number]::-webkit-inner-spin-button,
    .content9-form input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; }
    .content9-form .input2 {
      font-weight: 400;
      font-size: 15px;
      margin-top: 4.1px;
      width: 100%;
      height: 15%;
      padding: 10px 16px;
      box-sizing: border-box; }
      .content9-form .input2:focus {
        outline: none; }
    .content9-form button {
      cursor: pointer;
      font-family: 'SFU Futura';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      display: block;
      margin: 20px auto;
      padding: 0.5rem 1rem;
      background-color: bisque;
      border: none;
      border-radius: 30px;
      background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%); }
    .content9-form p {
      font-weight: 400;
      font-size: 14.359px;
      text-align: center;
      margin-top: -15px;
      color: #B5B5C3; }
    @media (max-width: 1428px) {
      .content9-form h2 {
        font-size: 18px; }
      .content9-form span {
        font-size: 22px; }
      .content9-form ul {
        font-size: 10px;
        margin-bottom: 10px; }
      .content9-form input {
        font-size: 10px; }
      .content9-form button {
        font-size: 10px; }
      .content9-form label {
        font-size: 8px; }
      .content9-form p {
        font-size: 9px; } }
  .content9 .row {
    top: 50%;
    transform: translateY(-50%); }
    @media (max-width: 992px) {
      .content9 .row {
        margin: 0 auto;
        top: 40%;
        transform: translateY(0%); }
        .content9 .row h2 {
          font-size: 25.8676px; }
        .content9 .row span {
          font-size: 33.9417px; }
        .content9 .row ul {
          font-size: 15.7087px; }
        .content9 .row input {
          font-size: 16px;
          width: 100%; }
        .content9 .row button {
          font-size: 16px; }
        .content9 .row label {
          font-size: 14px; }
        .content9 .row p {
          font-size: 15px; }
        .content9 .row form {
          margin: 0 auto; } }
    @media (max-width: 420px) {
      .content9 .row h2 {
        font-size: 19px; }
      .content9 .row span {
        font-size: 30px; }
      .content9 .row .padding9 {
        padding-left: 10px; }
      .content9 .row ul {
        font-size: 12.8673px;
        margin-bottom: 10px; }
      .content9 .row input {
        font-size: 12.6171px; }
      .content9 .row button {
        font-size: 14.059px; }
      .content9 .row label {
        font-size: 11.7158px; }
      .content9 .row p {
        font-size: 12.6171px; } }

footer {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 23px;
  background-color: #5E3A95;
  color: white; }
  footer div {
    font-weight: 700;
    font-size: 14.359px; }
    @media (max-width: 500px) {
      footer div {
        font-size: 10px; } }

.invalid-feedback {
  color: yellow; }

button a {
  color: #000000; }
