@font-face {
    font-family: 'UVF Blenda Script';
    src: url('../font/SVN-BlendaScript.woff2') format('woff2'),
        url('../font/SVN-BlendaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaExtraBoldOblique.woff2') format('woff2'),
        url('../font/SFUFuturaExtraBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaBoldOblique.woff2') format('woff2'),
        url('../font/SFUFuturaBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaExtraBold.woff2') format('woff2'),
        url('../font/SFUFuturaExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaBold.woff2') format('woff2'),
        url('../font/SFUFuturaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaBook.woff2') format('woff2'),
        url('../font/SFUFuturaBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaBookOblique.woff2') format('woff2'),
        url('../font/SFUFuturaBookOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaLightOblique.woff2') format('woff2'),
        url('../font/SFUFuturaLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('.SFUFuturaHeavy.woff2') format('woff2'),
        url('.SFUFuturaHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFutura.woff2') format('woff2'),
        url('../font/SFUFutura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaOblique.woff2') format('woff2'),
        url('../font/SFUFuturaOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaLight.woff2') format('woff2'),
        url('../font/SFUFuturaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../font/SFUFuturaHeavyOblique.woff2') format('woff2'),
        url('../font/SFUFuturaHeavyOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

$main-color : #5E3A95;
$main-color2 : #A351A3;
$mainbg-color : #FFFFFF;
$mainbg-color2 : #F2F2F2;

$sm: 768px;
$md: 992px;
$lg: 1300px;

input::placeholder {
    color: #B5B5C3;
    font-size: 14px;
    @media (max-width: 600px) {
        font-size: 12px;

    }
}

@mixin md {
    @media only screen and (max-width: $md) {
        @content;
    }
}
@mixin lg {
    @media only screen and (max-width: $lg) {
        @content;
    }
}
@mixin sm {
    @media only screen and (max-width: $sm) {
        @content;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }
 .animated{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
.root{
    z-index: 119;
    margin: 0 auto;
    top: calc(50% - 0.5*323px);
    left: calc(50% - 0.5*566px);
    @media (max-width: 700px) {
        width: 100%;
        left: 0%;
            
    }

    .alert-submit{
        img{
            @media (max-width: 700px) {
                width: 90%;
                left: 5%;
                
            }
        }
    }
}
input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }
body{
    font-family: 'SFU Futura';
    margin: 0;
}
.red{
    color: white;
    border: 2px solid red;
}
a{
    text-decoration: none;
    &:hover{
        color: none;
    }
    &:visited {
        color: black;
    }
}
  

.direction{
    z-index: 100;
    top: 70%;
    right: 3%;
    img{
        width: 48px;
        height: 48px;
    }
}
.title{
    text-transform: uppercase;
    
    h2{
        font-weight: 700 !important;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 19px;
        color: #000000;
        
        @media (min-width: 600px) {
            font-size: 40px;
        }
    } 
    span{
        font-weight: 700 !important;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 27px;
        color: $main-color;
        
        @media (min-width: 600px) {
            font-size: 56px;

        }
    }   
}
.header{
    box-sizing: border-box;
    width: 100%;
    padding: 22px 0px;
    &-logo{
        @media (max-width: 500px) {
            // justify-content: space-around;
            .img1{
                width: 92px;
            }
            .img2{
                width: 130px;
                // margin-left: 100px;
            }
        }
            
    }
    &-social{
        height: 40.83px;
        width: 424px;
        img{

            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &-contact{
        a{
            text-decoration: none
        }

        &-call{
            padding: 16px;
            box-sizing: border-box;
            width: 204px;
            height: 46px;
            background-color: $main-color;
            border-radius: 23px;
            display: flex;
            gap: 10px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            justify-content: center;
            align-items: center;
            color: white;
        }
    }
}
.menu{
    background-color: $main-color;
    z-index: 100;
    position: relative;
    li{
        text-transform: uppercase;
        &:hover{
            background-color: #3b245e;
        }
    }
    a{
        text-decoration: none;
        color: white;

        @include md {
            padding: 0 !important;
            margin: 16px 30px !important;
            font-size: 16px;
            color: black;
        }
    }
    .navbar-collapse{
        margin: 0 !important;
        @include md {
            background-color: $mainbg-color;
        }
    }
    .input-group{
        input{
            background-color: rgba(255, 255, 255, 0.5) !important;
        }
        span{
            background-color: rgba(255, 255, 255, 0.5) !important;
        }
        i{
            color: white !important;
        }
    }
}
.seation{
    button{
        cursor: pointer;
        font-family: 'SFU Futura';
        font-weight: 700;
        font-size: 20px;
        display: block;
        padding: 0.3rem 1rem;
        background-color: bisque;
        border: none;
        border-radius: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%);
        margin-bottom: 3%;
        @media (max-width: 500px) {
            font-size: 10.2px;    
        }
    }
    position: relative;
    
    img{
        width: 100%;
        height: 100%;
    }
    &-contact{
        position: fixed;
        z-index: 99;
        top: 40%;
        right: 3%;
        img{
            display: block;
            width: 48px;
            height: 48px;
            margin-top: 24px;
        }
    }
    &-form{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        &-title{
            text-align: center;  
            color: white;
            margin-bottom: 20px;
            h2{
                font-weight: 700;
                margin: 0;
                text-transform: uppercase;  
                font-size: 40px;
            }
            h3{
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 20px;
                text-transform: uppercase;  
                font-size: 20px;
            }
            h4{
                font-weight: 700;
                color: #000000;
                margin: 10px auto;
                font-size: 15.2343px;
                background: #E2BF60;
                display: inline;
                padding: 8px 24.2px;
                clip-path: polygon( 
                    0% 0%,
                    100% 0%,
                    97% 50%,
                    100% 100%,
                    0% 100%,
                    3% 50%,
                );
            }
            span{
                font-weight: 700;
                color: black;
                text-transform: uppercase;  
                font-size: 20px;
    
            }
        }
        &-input{
            width: 360px;
            margin: 0 auto;
            label{
                margin-top: 8px;
                color: white;
                font-weight: 400;
                font-size: 13.3333px;
                margin-bottom: 4.1px;
                display: block;
            }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }
            .input1{
                font-weight: 400;
                font-size: 15px;
                margin-top: 4.1px;
                width: 100%;
                height: 15%;
                padding: 10px 16px;
                box-sizing: border-box;
                &:focus{
                    outline: none;
                }
            }
            button{
                cursor: pointer;
                font-family: 'SFU Futura';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                display: block;
                margin: 20px auto;
                padding: 0.5rem 1rem;
                background-color: bisque;
                border: none;
                border-radius: 30px;
                background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%);
            }
            @media (max-width: 1336px) {
                width: 300px;
            }
        }
        @media (max-width: 1336px) {
            h2{
                font-size: 30px;
            }
            h3{
                font-size: 13px;
            }
            h4{
                font-size: 10px;
            }
            span{
                font-size: 13px;
            }
            label{
                font-size: 10px;
            }
            button{
                font-size: 13px;
            }
        }
    }
    
}
.slider{
    .title{
        text-align: center;
        margin: 40px auto;
    }   
    .up{
        // transform: translateY(%);
        @media (max-width: 600px) {
            img{

                width: 15px;
                height: 23px;
            }
        }
    }
    .content{
        font-size: 30px;
        background-color: $main-color;
        color: white;
        padding: 12px 20px;
        li{
            margin-left: 20px;
        }
        @media (max-width: 663px) {
            font-size: 20px;
        }
        @media (max-width: 450px) {
            font-size: 13px;
        }

    }
}
.slider-indicator{
    margin-top: 20px;
    margin-bottom: 20px;
    button{
        position:static !important;
        margin-left: 20px;
        width: 15px !important;
        height: 15px !important;
        border: 2px solid $main-color2 !important;
        border-radius: 50%;
        cursor: pointer;
        background-color: white;
        &:hover{
            background-color: $main-color;
            
        }
        

    }
    .active{
        background-color: $main-color;
        
    }
}

.line{
    background-color:  $main-color2;
    height: 15px;
    padding-bottom: 1px;
    margin-top: 0px;
}
.content1{
    width: 100%;
    background-color: $mainbg-color2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    @media (max-width: 1263px) {
        background-color: $mainbg-color;
    }
    &-text{
        padding-left: 30px;
        padding-right: 30px;
        width: 590px;
        h3{
            font-size: 14.2343px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 10px;
        }
        span{
            font-size: 71px;
        }
        .title{
            // width: 518px;
            span{
                display: block;
                text-align: right;
                margin-top: -20px;
            }
            @media (max-width: 600px) {
                width: 100%;
            }
        }
        @media (max-width: 600px) {
            width: 100%;
            h2{
                font-size: 19px;
            }
            h3{
                font-size: 8.5px;
                
            }
            span{
                margin-top: -15px;
                font-size: 40px;
                text-align: left !important;
                margin-left: 100px;
            }
        }
        
        p{
            font-weight: 400;
            font-size: 15px;
            text-align: justify;
        }

    }
    .content1-img{
        max-width: 615px;
        img{
            width: 100%;
        }

    }
}
.content2{
    background-color: $mainbg-color;
    width: 100%;
    img{
        width: 100%;
    }
    &-background{
        background-image: 
        url("../img/Bgcontent2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .slider{
        .mySlides-content2{
            color: black;
            font-size: 13px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            background-color: $mainbg-color;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
        }
        .carousel-inner{
            img{
                margin: 0 auto;
            }
            button{
                img{
                    transform: translateY(-100%);
                    width: 15px;
                    height: 23px;
                }
            }
        }
        .carousel-content2{
            padding-left: 23px;
            padding-right: 23px;
            p{
                margin-bottom: 0;
                font-size: 13px;
            }
        }
        .title{
           h2{
                font-size: 23px;
            }
            span{
                font-size: 30px;
            }
        }

    }
}
.content3{
    text-align: center;
    .title{
        margin: 0 auto;
        // max-width: 892px;
        @media (max-width: 768px) {
            background-color: $main-color;
            width: 100%;
            // text-align: left;
            padding: 31px 80px;
            h2{
                color: white;
                font-size: 15px;
                line-height: 23px;
            }
            span{
                font-size: 20px;
                color: 
                #FFF8C7;
            }
        }
    }
    &-img1{
        position: relative;
        button{
            position:absolute;
            cursor: pointer;
            font-family: 'SFU Futura';
            font-weight: 700;
            font-size: 16px;
            bottom: 12%;
            right: 26%;
            width: 14.27%;
            height: 15%;
            background-color: bisque;
            border: none;
            border-radius: 30px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%);
            @media (max-width: 1600px) {
                font-size: 13px;
            }
            @media (max-width: 1336px) {
                font-size: 10px;
            }
            @media (max-width: 1024px) {
                font-size: 8px;
            }
            @media (max-width: 835px) {
                font-size: 5px;
            }
        }
        .img1{
            margin-top: 48px;
            
        }
    }
    &-img12{
        position: relative;
        z-index: 1;
            button{
                padding: 1rem 3rem;
                cursor: pointer;
                font-family: 'SFU Futura';
                font-weight: 700;
                font-size: 20px;
                border: none;
                border-radius: 30px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%);
                @media (max-width: 650px) {
                    font-size: 15px;
                    padding: 1rem 2rem;
                }
                @media (max-width: 500px) {
                    font-size: 8.74px;
                    padding:5px 1rem;
                }
            }
    }
    &-img2{
        // margin-top: -40px;
        // margin-left: auto;
        // margin-right: auto;
    }
    .slider{
        .carousel-item{
            img{
                
                width: 70%;
                margin: 0 auto;
            }
        }
        .slider-button{
            img{
                width: 15px;
                height: 23px;
            }
        }
        .slide3-img{
            width: 100%;
            z-index: -2;
            margin-top: -10px;
            margin-bottom: -80px;
            // transform: translateX(-5%);
        }
    }
}
.content4{
    background-color: $mainbg-color2;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 23px;
    .title{
        max-width: 906px;
        margin: 0 auto;
        margin-bottom: 23px;
        @media (max-width: 992px) {
            font-size: 19px;
        }
    }
    iframe{
        width: 906px;
        height: calc(906px/16*9);
        @media (max-width: 992px) {
            width: 600px;
            height: calc(600px/16*9)
        }
        @media (max-width: 650px) {
            width: 500px;
            height: calc(500px/16*9)
        }
        @media (max-width: 550px) {
            width: 420px;
            height: calc(420px/16*9)
        }
        @media (max-width: 450px) {
            width: 360px;
            height: calc(360px/16*9)
        }
        @media (max-width: 360px) {
            width: 300px;
            height: calc(300px/16*9)
        }
        
    }
}
// .content5{
//     background-color: $mainbg-color;
//     padding: 30px;
//     @media (max-width: 1361px) {
//          #cont51{
//             order: 2;
//         }
//          #cont52{
//             order: 1;
//         }
//     }
//     .title{
        
//         span{
//             letter-spacing: 0.705rem;
//             font-size: 70px;
//         }
//         h3{
//             font-weight: 700;
//             font-size: 30px;
//             margin: 0;
//             color: $main-color;
//             margin-bottom: -20px;
            
//         }
//         @media (max-width: 600px) {
//             h3{
//                 font-size: 19px;

//                 margin-bottom: -10px;
//             }
//             span{
//                 letter-spacing: 0.4rem;
//                 font-size: 35.1357px;
//             }
//             h2{
                
//                 font-size: 22px;
//             }
//         }
//     }
//     &-text{
//         max-width: 516px;
//         &-check{
//             font-weight: 400;
//             font-size: 16px;
//             display: flex;
//             gap: 18px;
//             align-items: center;
//         }
//         @media (max-width: 768px) {
//             span{
//                 font-size: 13px;
//             }
//             img{
//                 width: 37.55px;
//                 height: 36.3px;
//             }
//         }
//     }
// }

.content5{
    #slide5mb{

        .carousel-inner{
            .carousel-item{
                img{

                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin-bottom: 10px;
                }
            }
            button{
                transform: translateY(-20%);
            }
        }
    }
    .title{
        padding: 0 10px;
    }
    .bg-5{

        background-image: 
            url("../img/content5bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        .carousel-item{
            img{
                margin: 0 auto;
            }
        }
    }

}

.content6{
    background-color: $mainbg-color2;
    padding-left: 30px;
    padding-right: 30px;
    .title{
        text-align: center;
        @media (max-width: 1458px) {
            h2{
                font-size: 25px;
            }
            span{
                font-size: 30px;
            } 
        }
        @media (max-width: 850px) {
            h2{
                font-size: 19px;
            }
            span{
                font-size: 20px;
                background-color: $main-color2;
                color: white;
            } 
        }
        
    }
    .slider{
        .carousel-inner{
            .slider-button{
                margin-top: 30%;
                width: 20px;
                height: 31px;
            }
            .title{
                height: 190px;
                h2{
                    font-size: 30px;
                }
                p{
                    text-transform: none;
                    text-align: justify;
                    font-size: 13px;
                    margin-bottom: 0;
                    
                }
                span{
                    font-size: 16px;
                    background-color: $main-color2;
                    color: white;
                }
            }
            .slider-indicator{
                bottom: 200px;
            }
            ul{
                list-style-type:none;
                margin-left: -33px;
                li{
                    text-transform: none;
                    text-align: left;
                    font-size: 13px;
                }
            }
        }
    }
    img{
        margin: 0 auto;
        width: 65%;
    }

}

.content7{
    &-title{
        text-transform: uppercase;
        color: $mainbg-color;
        background-color: $main-color;
        display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
        &-left{
            margin-right: 50px;
            h2{
                font-size: 30px;
                font-weight: 700 !important;
                margin-top: 0px;
                margin-bottom: -20px;
            }

            span{
                
                font-size: 70px;
                font-weight: 700 !important;
                letter-spacing: 0.2em;
            }
            @media (max-width: 600px) {
                h2{
                    font-size: 12.8956px;
                    font-weight: 700 !important;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-bottom: -10px;
                }
                span{
                    font-size: 30.0897px;
                    font-weight: 700 !important;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    letter-spacing: 0.2em;
                }
            }
            
        }
        &-right{
            max-width: 530px;
            
            h4{
                margin-bottom: 1rem;
                font-size: 25px;
                letter-spacing: 3px;
                @media (max-width: 600px) {
                    font-size: 13px;
                    
                }
            }
        }
    }
    &-img{
        img{
            width: 304.65px;
            height: 321.05px;
            @media (max-width: 768px) {
                width: 157.82px;
                height: 166.31px;  
            }
        }
    }
}
.content8{
    margin: 0 auto;
    max-width: 1302px;
    &-title1{
        max-width: 420px;
        h2{
            font-size: 35px;
            letter-spacing: 2px;
            line-height: 50px;
            text-align: justify;
        }
        span{
            display: block;
            max-width: 320px;
            font-size: 51px;
        
        }
        @media (max-width: 1154px) {
            max-width: 600px;
            text-align: center;
            button{
                margin: 0 auto;
            }
            h2{
                font-size: 35px;
                text-align: center;
                
                // margin-bottom: -30px;
            }
            span{
                text-align: center;
                max-width: 1000px;
            }
        }
        @media (max-width: 760px) {
            
            h2{
                font-size: 22px;
                line-height: 30px;
                letter-spacing: 1px;
               
            }
            span{
                font-size: 24px;
            }
        }
        @media (max-width: 500px) {
            
            h2{
                font-size: 15px;
                max-width: 300px;
                line-height: 20px;
                letter-spacing: 0px;
            }
            span{
                font-size: 19px;
            }
        }
        
    }
    .title{
        // max-width: 10px;
        button{
            cursor: pointer;
            font-family: 'SFU Futura';
            font-weight: 700;
            font-size: 20px;
            display: block;
            padding: 0.5rem 1rem;
            background-color: bisque;
            border: none;
            border-radius: 30px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%);
        }
    }
    &-slide{
            // width: 100%;
            width: 828px;

            .img{
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                margin: 0 auto;
            }

            button{
                img{
                    @media (max-width: 600px) {
                        height: 22.5px;
                        width: 15px;
                    }
                }
            }
            .slider-indicator{
                button{
                    @media (max-width: 600px) {
                        height: 10px !important;
                        width: 10px !important;
                    }
                }
            }
        }
    
}

.content9{
    position: relative;
    margin-bottom: -4px;
    &-pageup{
        position: absolute;
        top: 65%;
        right: 3%
        img{
            width: 48px;
            height: 48px;
        }
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            cursor: pointer;
            &:hover{
                opacity: 80%;
            }
        }
    }
    &-form{
        max-width: 420px;
        &-title{
            text-transform: uppercase;
            color: #FEF2B6;
            h2{
                font-weight: 700;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 25.8676px;
                margin-bottom: -8px;
            } 
            span{
                font-weight: 700;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 33.9417px;
            }
            div{
                margin-right: 10%;
                text-align: right;
            }
            h4{
                right: 0;
                font-family: 'UVF Blenda Script';
                color: white;
                font-size: 45px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            h5{
                right: 0;
                text-transform: none;
                color: white;
                font-family: 'UVF Blenda Script';
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 24px;

            }
        }
        ul{
            
            font-weight: 700;
            font-size: 15px;
            align-items: center;
            text-transform: uppercase;
            padding-left: 25px;
            color: #D498E9;
            margin-top: 9.3px;
            margin-bottom: 15px;
        }
        
        label{
            margin-top: 8px;
            margin-bottom: 4.1px;
            color: white;
            font-weight: 400;
            font-size: 13.3333px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0; 
        }
        input{
            font-weight: 400;
                font-size: 15px;
                margin-top: 4.1px;
                width: 100%;
                height: 40px;
                padding: 10px 16px;
                box-sizing: border-box;
                &:focus{
                    outline: none;
                }
        }
        button{
            cursor: pointer;
            font-family: 'SFU Futura';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            display: block;
            margin: 20px auto;
            padding: 0.5rem 1rem;
            background-color: bisque;
            border: none;
            border-radius: 30px;
            background: linear-gradient(97.32deg, #AB7927 -62%, #B48739 -59.66%, #CBA964 -53.21%, #DEC688 -46.69%, #ECDCA3 -40.16%, #F7EBB7 -33.6%, #FDF5C3 -27%, #FFF8C7 -20.28%, #FEF6C2 -6.7%, #FDF1B4 9.2%, #FAE89D 26.2%, #F6DC7C 43.89%, #F5D76F 50%, #F0D16B 52.72%, #C9A04D 76.4%, #B1823A 94.44%, #A87733 104.61%, #A27230 124.92%, #936426 150.67%, #8D5F22 157.81%, #AE7B33 176.89%, #D69D48 202.1%, #C28D41 209.2%, #6F4C25 239.64%, #4E321A 253.5%, #4F331A 254.07%, #7C5320 282.44%, #8D5F22 296.79%, #D69D48 321.82%);
        }
        p{
            font-weight: 400;
            font-size: 14.359px;
            text-align: center;
            margin-top: -15px;
            color: #B5B5C3;
        }
        
        
        @media (max-width: 1740px) {
            
            ul{
                font-size: 10px;
                margin-bottom: 10px;
            }
            input{
                font-size: 10px;
                
            }
            button{
                font-size: 10px;
    
            }
            label{
                font-size: 8px;
            }
            p{
                font-size: 9px;;
            }
        }
        @media (max-width: 1515px) {
            // max-width: 350px;
            ul{
                font-size: 8px;
                margin-bottom: 8px;
            }
            input{
                font-size: 8px;
                
            }
            button{
                font-size: 8px;
    
            }
            label{
                font-size: 6px;
            }
            p{
                font-size: 10px;
            }
            input{
                // height: 30px;
                &::placeholder{
                    font-size: 10px;
                }
            }
                h2{
                    font-size: 15px;
                }
                span{
                    font-size: 20px;
                    
                }
                h4{
                    font-size: 25px;

                }
                h5{
                    font-size: 15px;

                }
            
        }
    }
    .row{
        
        bottom: 50%;
        transform: translateY(50%);
        @media (max-width: 992px) {
            margin: 0 auto;
            bottom: 10%;
            transform: translateY(0%);
            h4{
                right: 0;
                font-family: 'UVF Blenda Script';
                color: white;
                font-size: 45px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            h5{
                right: 0;
                text-transform: none;
                color: white;
                font-family: 'UVF Blenda Script';
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 24px;

            }
            h2{
                font-size: 25.8676px
                
            }
            span{
                font-size: 33.9417px;                
            }
            ul{
                font-size: 15.7087px;
            }
            input{
                font-size: 16px;
                width: 100%;
            }
            button{
                font-size: 16px;
    
            }
            label{
                font-size: 13px;
            }
            p{
                font-size: 15px;;
            }
            form{
                margin: 0 auto;
            }
        }
        // @media (max-width: 420px) {}
        @media (max-width: 450px) {
            bottom: 1%;
            h2{
                font-size: 21px;
                
            }
            span{
                font-size: 27px
                
            }
            .padding9{
                padding-left: 10px;
            }
            
            h4{
                font-size: 41px
                
            }
            ul{
                font-size: 12.8673px;
                margin-bottom: 10px;
            }
            input{
                font-size: 12.6171px;
                height: 35px;
                
            }
            button{
                font-size: 14.059px;
    
            }
            label{
                font-size: 11.7158px;
                margin: 2px auto;
            }
            p{
                font-size: 12.6171px;
            }
        }
        @media (max-width: 374px) {
            
            ul{
                font-size: 11.8673px;
                margin-bottom: 8px;
            }
            input{
                font-size: 11.6171px;
                height: 33px;
                
            }
            button{
                font-size: 12.059px;
    
            }
            
        }
    }
}
.content85{
    &-slide{
        .carousel{
            background-image: 
                url("../img/bg85mb.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            &-inner{
                
                .carousel-item{
                    height: 570px;
                    @media (max-width: 550px) {
                        height: 530px;

                    }
                    @media (max-width: 500px) {
                        height: 490px;

                    }
                    @media (max-width: 430px) {
                        height: 430px;

                    }
                    @media (max-width: 400px) {
                        height: 400px;

                    }
                    @media (max-width: 390px) {
                        height: 390px;

                    }
                }
                .img{
                    margin: 0 auto;
                }
                button{
                    img{
                        transform: translateY(-145%);
                        height: 25px !important;
                        width: 25px !important;
                    }
                }
            }
        }
    }
}
footer{
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 23px;
    background-color: $main-color;
    color: white;
    div{
        font-weight: 700;
        font-size: 14.359px;
        @media (max-width: 500px) {
            font-size: 10px;
        }
    }
}
.invalid-feedback{
    color: yellow;
}
button{
    a{
        color: #000000;
        
    }
}